{% extends 'containers/base.html' %} {% load crispy_forms_tags %} {% block
content %}

<style>
  .exp {
    color: black;
  }
</style>

<main>
  <div class="container-fluid">
    <!-- Page Heading -->
    <p class="mb-4">List of entire medical equipment in all containers.</p>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All elements</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Name</th>
                <th>Size / Form</th>
                <th>Amount</th>
                <th>Expiration date</th>
                <th>Expiration days</th>
                <th>Description</th>
                <th>Container</th>
              </tr>
            </thead>
            <tbody>
              {% for list in object_list %} {% for query in list %} {% for
              element in query %}
              <tr>
                {% if element.name %}
                <td><b>{{ element.name }}</b></td>
                {% else %}
                <td></td>
                {% endif %} {% if element.dosage_form %}
                <td>{{element.dosage_form}}</td>
                {% elif element.volume %}
                <td>{{element.volume}}</td>
                {% elif element.size %}
                <td>{{element.size}}</td>
                {% elif element.type %}
                <td>{{element.type}}</td>
                {% else %}
                <td></td>
                {% endif %} {% if element.amount %}
                <td>{{ element.amount }}</td>
                {% else %}
                <td></td>
                {% endif %} {% if element.expiration_date %}
                <td>{{ element.expiration_date }}</td>
                {% else %}
                <td></td>
                {% endif %} {% if element.expiration_days <= 60 and
                element.expiration_days > 30 %}
                <td class="exp" bgcolor="yellow">
                  {{ element.expiration_days }}
                </td>

                {% elif element.expiration_days <= 30 and
                element.expiration_days > 0 %}
                <td class="exp" bgcolor="orange">
                  {{ element.expiration_days }}
                </td>

                {% elif element.expiration_days < 0 %}
                <td class="exp" bgcolor="red">{{ element.expiration_days }}</td>

                {% else %}
                <td>{{ element.expiration_days }}</td>
                {% endif %} {% if element.description %}
                <td>{{ element.description }}</td>
                {% else %}
                <td></td>
                {% endif %} {% if element.container %}
                <td>{{ element.container }}</td>
                {% else %}
                <td></td>
                {% endif %}
              </tr>
              {% endfor %} {% endfor %} {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="my-2"></div>
      <a
        href="{% url 'save-pdf-no-id' element='all' %}"
        class="btn btn-secondary btn-icon-split"
      >
        <span class="icon text-white-50">
          <i class="fas fa-arrow-down"></i>
        </span>
        <span class="text">Save to PDF</span>
      </a>
    </div>
  </div>
</main>
{% endblock %}
