{% extends 'containers/base.html' %} {% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Project Card Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-6">
      <h6 class="m-0 font-weight-bold text-primary">Calendar</h6>
      <iframe
        class="calendar-iframe"
        src="https://calendar.google.com/calendar/embed?src=grmwroclaw%40gmail.com&ctz=Europe%2FWarsaw"
        style="width: 100%; height: 500px"
      ></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mb-4">
      <!-- Facebook -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Facebook</h6>
        </div>
        <div>
          <!--                                <div id="fb-root"></div>-->
          <script
            async
            defer
            crossorigin="anonymous"
            src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v16.0"
            nonce="ODryeGnF"
          ></script>
          <div style="text-align: center">
            <div
              class="fb-page"
              data-href="https://www.facebook.com/grmpckwroclaw"
              data-tabs="timeline"
              data-width="450px"
              data-height=""
              data-small-header="false"
              data-adapt-container-width="true"
              data-hide-cover="false"
              data-show-facepile="true"
            >
              <blockquote
                cite="https://www.facebook.com/grmpckwroclaw"
                class="fb-xfbml-parse-ignore"
              >
                <a href="https://www.facebook.com/grmpckwroclaw"
                  >GRM PCK Wroclaw</a
                >
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <!-- Facebook -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Instagram</h6>
        </div>
        <div>
          <div data-mc-src="ba607bb9-c535-4d36-89fe-9473ab444432#null"></div>

          <script
            src="https://cdn2.woxo.tech/a.js#6446feb409ae68dd0ad74b02"
            async
            data-usrc
          ></script>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

{% endblock %}
