{% extends 'containers/base-pdf.html' %} {% block content %}

<table>
  <h3>R1 bag - additional equipment</h3>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size / Form</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>KPP card</td>
      <td>Pills</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Paracetamol</td>
      <td>Pills</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Ketonal</td>
      <td>Pills</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Ibuprofen</td>
      <td>Pills</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Pyralgin</td>
      <td>Pills</td>
      <td>1</td>
    </tr>
    <tr>
      <td>ASA</td>
      <td>Pills</td>
      <td>1</td>
    </tr>
    <tr>
      <td>No-Spa</td>
      <td>Pills</td>
      <td>1</td>
    </tr>
    <tr>
      <td>NaCl 0.9%</td>
      <td>10ml</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Icemix</td>
      <td>Areosol</td>
      <td>1</td>
    </tr>
    <tr>
      <td>Scissors</td>
      <td></td>
      <td>1</td>
    </tr>
    <tr>
      <td>Adhesive tape</td>
      <td></td>
      <td>1</td>
    </tr>
    <tr>
      <td>Plaster for wound</td>
      <td></td>
      <td>2</td>
    </tr>
    <tr>
      <td>Gauze - single</td>
      <td></td>
      <td>10</td>
    </tr>
    <tr>
      <td>Non-sterile swabs</td>
      <td></td>
      <td>1</td>
    </tr>
    <tr>
      <td>Octenisept</td>
      <td></td>
      <td>1</td>
    </tr>
    <tr>
      <td>Elastic bandage</td>
      <td></td>
      <td>2</td>
    </tr>
    <tr>
      <td>Knitted bandage</td>
      <td></td>
      <td>2</td>
    </tr>
  </tbody>
</table>
{% endblock %}
