{% extends 'containers/base.html' %}
    {% block content %}
     <nav>
         <h2>Containers</h2>
        <ul>
            <li><button><a href="{% url 'warehouse-main' %}">Main warehouse page</a></button></li>
            <li><button><a href="{% url 'containers-create' %}">Add new container</a></button></li>
            <li><button><a href="{% url 'equipment-create' %}">Add new equipment</a></button></li>

        </ul>
    </nav>

    <main>
        <h1>Containers list </h1>
    <ul>
        {% for container in object_list %}
        <li><button><a href="{% url 'containers-detail' pk=container.id %} ">{{ container.name }}</a></button>
            <p>{{ container.description }}</p>
        </li>
        {% endfor %}
    </main>

    {% endblock %}
