{% load static %}
<head>
    <meta charset="utf-8">
    <style>
        th, td {
            border: 1px solid;
            border-color: #18181c;
            color: #18181c;
       }
        tr {
            border: 2px solid;
            border-color: #18181c;
            color: #ca2819;
        }
    </style>
</head>
<body>
    <h3>List of all medical equipment of GRM PCK</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size / Form</th>
                    <th>Amount</th>
                    <th>Expiration date</th>
                    <th>Container</th>
                    <th>Description</th>
                    <th>Model</th>
                </tr>
            </thead>
            <tbody>
                {% for queryset in object_list %}
                {% for element in queryset %}
                <tr>
                    <td><b>{{ element.name }}</b></td>
                    {% if element.dosage_form %}
                        <td>{{element.dosage_form}}</td>
                    {% elif element.volume %}
                        <td>{{element.volume}}</td>
                    {% elif element.size %}
                        <td>{{element.size}}</td>
                    {% else %}
                        <td>{{element.type}}</td>
                    {% endif %}
                    <td>{{ element.amount }}</td>
                    <td>{{ element.expiration_date }}</td>
                    <td>{{element.container}}</td>
                    <td>{{ element.description }}</td>
                    <td>{{ element.container.related_name }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
</body>
