{% extends 'containers/base.html' %}
    {% load crispy_forms_tags %}
    {% block content %}
<main>
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">R1 backpack - standard equipment</h6>
            </div>
            <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Size / Form</th>
                                            <th>Amount</th>
                                            <th>Sachet</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Amputated part bag</td>
                                            <td></td>
                                            <td>2</td>
                                            <td>PPE + bags</td>
                                        </tr>
                                        <tr>
                                            <td>Waste bags</td>
                                            <td></td>
                                            <td>few</td>
                                            <td>PPE + bags</td>
                                        </tr>
                                        <tr>
                                            <td>Protection glasses</td>
                                            <td></td>
                                            <td>1</td>
                                            <td>PPE + bags</td>
                                        </tr>
                                        <tr>
                                            <td>FFP2/3 face mask</td>
                                            <td></td>
                                            <td>2</td>
                                            <td>PPE + bags</td>
                                        <tr>
                                            <td>Gloves</td>
                                            <td>S, M, L</td>
                                            <td>few</td>
                                            <td>PPE + bags</td>
                                        </tr>
                                        <tr>
                                            <td>Gauze</td>
                                            <td><sup>1</sup>&frasl;<sub>2</sub>m<sup>2</sup></td>
                                            <td>6</td>
                                            <td>Hemorrhages</td>
                                        </tr>
                                        <tr>
                                            <td>Gauze</td>
                                            <td>1m<sup>2</sup></td>
                                            <td>6</td>
                                            <td>Hemorrhages</td>
                                        </tr>
                                        <tr>
                                            <td>Elastic bandage</td>
                                            <td>Some sizes</td>
                                            <td>6</td>
                                            <td>Hemorrhages</td>
                                        </tr>
                                        <tr>
                                            <td>Tactical tourniquet</td>
                                            <td></td>
                                            <td>2</td>
                                            <td>Hemorrhages</td>
                                        </tr>
                                        <tr>
                                            <td>Hemostatic dressing</td>
                                            <td></td>
                                            <td>1</td>
                                            <td>Hemorrhages</td>
                                        </tr>
                                        <tr>
                                            <td>Tactical tourniquet</td>
                                            <td></td>
                                            <td>2</td>
                                            <td>Hemorrhages</td>
                                        </tr>
                                        <tr>
                                            <td>Hemostatic dressing</td>
                                            <td></td>
                                            <td>1</td>
                                            <td>Hemorrhages</td>
                                        </tr>
                                        <tr>
                                            <td>Emergency Blanket NRC</td>
                                            <td></td>
                                            <td>3</td>
                                            <td>Dressings</td>
                                        </tr>
                                        <tr>
                                            <td>Knitted bandage</td>
                                            <td>Some sizes</td>
                                            <td>6</td>
                                            <td>Dressings</td>
                                        </tr>
                                        <tr>
                                            <td>Codofix</td>
                                            <td></td>
                                            <td>1</td>
                                            <td>Dressings</td>
                                        </tr>
                                        <tr>
                                            <td>Adhesive tape</td>
                                            <td></td>
                                            <td>2</td>
                                            <td>Dressings</td>
                                        </tr>
                                        <tr>
                                            <td>Chest seal</td>
                                            <td></td>
                                            <td>1</td>
                                            <td>Dressings</td>
                                        </tr>
                                        <tr>
                                            <td>Hydrogel</td>
                                            <td></td>
                                            <td>3</td>
                                            <td>Dressings</td>
                                        </tr>
                                        <tr>
                                            <td>Triangular bandage</td>
                                            <td></td>
                                            <td>4</td>
                                            <td>Dressings</td>
                                        </tr>
                                        <tr>
                                            <td>Manual suction</td>
                                            <td></td>
                                            <td>1</td>
                                            <td>Airways</td>
                                        </tr>
                                        <tr>
                                            <td>LT tube</td>
                                            <td>Yellow #3</td>
                                            <td>1</td>
                                            <td>Airways</td>
                                        </tr>
                                        <tr>
                                            <td>LT tube</td>
                                            <td>Red #4</td>
                                            <td>1</td>
                                            <td>Airways</td>
                                        </tr>
                                        <tr>
                                            <td>LT tube</td>
                                            <td>Purple #5</td>
                                            <td>1</td>
                                            <td>Airways</td>
                                        </tr>
                                        <tr>
                                            <td>Lidocaine</td>
                                            <td>Ointment / Gel</td>
                                            <td>1</td>
                                            <td>Airways</td>
                                        </tr>
                                        <tr>
                                            <td>LT stabilizer</td>
                                            <td></td>
                                            <td>1</td>
                                            <td>Airways</td>
                                        </tr>
                                        <tr>
                                            <td>LT syringe</td>
                                            <td></td>
                                            <td>1</td>
                                            <td>Airways</td>
                                        </tr>
                                        <tr>
                                            <td>NPA tube</td>
                                            <td>6.0</td>
                                            <td>1</td>
                                            <td>Airways</td>
                                        </tr>
                                        <tr>
                                            <td>NPA tube</td>
                                            <td>7.0</td>
                                            <td>1</td>
                                            <td>Airways</td>
                                        </tr>
                                        <tr>
                                            <td>NPA tube</td>
                                            <td>8.0</td>
                                            <td>1</td>
                                            <td>Airways</td>
                                        </tr>
                                        <tr>
                                            <td>Resuscitator</td>
                                            <td>Adult</td>
                                            <td>1</td>
                                            <td>Breathing</td>
                                        </tr>
                                        <tr>
                                            <td>Ventilation mask</td>
                                            <td>Adult</td>
                                            <td>1</td>
                                            <td>Breathing</td>
                                        </tr>
                                        <tr>
                                            <td>Resuscitator</td>
                                            <td>Child</td>
                                            <td>1</td>
                                            <td>Breathing</td>
                                        </tr>
                                        <tr>
                                            <td>Ventilation mask</td>
                                            <td>Child</td>
                                            <td>1</td>
                                            <td>Breathing</td>
                                        </tr>
                                        <tr>
                                            <td>Filter</td>
                                            <td></td>
                                            <td>2</td>
                                            <td>Breathing</td>
                                        </tr>
                                        <tr>
                                            <td>Oxygen drain</td>
                                            <td></td>
                                            <td>1</td>
                                            <td>Breathing</td>
                                        </tr>
                                        <tr>
                                            <td>Capnometer</td>
                                            <td></td>
                                            <td>1</td>
                                            <td>Breathing</td>
                                        </tr>
                                        <tr>
                                            <td>Pulse oximeter</td>
                                            <td></td>
                                            <td>1</td>
                                            <td>Oxygen therapy</td>
                                        </tr>
                                        <tr>
                                            <td>Oxygen mask</td>
                                            <td>Reservoir mask / Adult</td>
                                            <td>2</td>
                                            <td>Oxygen therapy</td>
                                        </tr>
                                        <tr>
                                            <td>Oxygen mask</td>
                                            <td>Reservoir mask / Child</td>
                                            <td>1</td>
                                            <td>Oxygen therapy</td>
                                        </tr>
                                        <tr>
                                            <td>Oxygen drain</td>
                                            <td></td>
                                            <td>1</td>
                                            <td>Oxygen therapy</td>
                                        </tr>
                                        <tr>
                                            <td>OPA tube</td>
                                            <td>Different sizes</td>
                                            <td>6</td>
                                            <td>Others</td>
                                        </tr>
                                        <tr>
                                            <td>Scissors</td>
                                            <td></td>
                                            <td>1</td>
                                            <td>Others</td>
                                        </tr>
                                        <tr>
                                            <td>Cervical collar</td>
                                            <td>Adult</td>
                                            <td>1</td>
                                            <td>Others</td>
                                        </tr>
                                        <tr>
                                            <td>Cervical collar</td>
                                            <td>Child</td>
                                            <td>1</td>
                                            <td>Others</td>
                                        </tr>
                                        <tr>
                                            <td>Oxygen tank</td>
                                            <td>2.7dm<sup>3</sup> + Oxygen reducer</td>
                                            <td>1</td>
                                            <td>Others</td>
                                        </tr>
                                        <tr>
                                            <td>NaCl 0.9%</td>
                                            <td>500ml</td>
                                            <td>1</td>
                                            <td>Others</td>
                                        </tr>
                                        <tr>
                                            <td>Pelvic stabilization belt</td>
                                            <td></td>
                                            <td>1</td>
                                            <td>Others</td>
                                        </tr>


                                    </tbody>


                                </table>
                            </div>
            </div>
            <div class="my-2"></div>
                                    <a href="{% url 'save-pdf-no-id' element='r1_backpack' %}" class="btn btn-secondary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                                        <span class="text">Save to PDF</span>
                                    </a>
        </div>
    </div>
    </main>
{% endblock %}
